body{
  background-image: url("backimg.jpg");
  background-size:cover;
  background-repeat: no-repeat;

}


* {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  }
  body::-webkit-scrollbar-track{
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }
  ::-webkit-scrollbar-thumb {
  background-color: transparent;}
  ::-webkit-scrollbar-track {
  border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right, #141e30, #243b55);
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  

.nav {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center ;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}
    
.header {
  position: relative;
  top:-20px;
  left: 0px;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: #0b0217;
}



.transbox {      
  margin: 30px;
  background-color: #808080;
  opacity: 0.8;
}  



.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 20%;
}

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #6a6767;
  }
  .wrapper
  {
    float: right;


  }
  .container1 {
    display: grid;
    align-items: right; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
   }
   
    
   
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
    
  height: fit-content;
  margin: auto;
  width: 70%;
  background-color: #fff;
  padding: 25px 130px;
  border-radius: 5px;
  border: solid ;
  margin-bottom: 100px;

  }
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  bottom: -10;
  height: 3px;
  width: 709px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  width: 209px;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 300px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #060606;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #59b6b3;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   margin: 0 14px ;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgb(182, 254, 255);
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #000000;
   border-color: #00ffe5;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button1{
   height: 45px;
   margin: 35px ;
 }
 form .button1 input{
   height: 100%;
   width: 200px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #59b6b6);
 }
 form .button1 input:hover{
  transform: scale(0.99); 
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  





select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:1!important;
    background: #e5f6fa;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #000000;
    overflow: hidden;
    border-radius: .25em;
    
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #6bcdd7;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }



 .date1{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:1!important;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;

 }

 .time{
  position: relative;
  top :150px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:1!important;
    flex: 1;
    padding: 10px;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;

    
 }
 


.time::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #f0e5fa;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.time:hover::after {
  color: #23b499;
}



.Foot{
  background-color: #000000;
  padding: 10 10 10 10;
  display: grid;
  grid-gap: 12em;
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  margin-top: 100px;
}


.FootText{
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10 10 10 10;

}


.emailbox{
  padding: 10 10 10 40;
  height: 50px;
  width: 500px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border-radius: 100px;
}
.bt1{
  height: 40px;
  width :300px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  position: relative;
  top: 10px;  
}
.bt1:hover{
  transform:scale(1.05);
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}


.FootNum{
  color: rgb(0, 187, 255);
  align-items: center;
  text-align: left;
}
.up-arrow{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  height: 50px;
  font-size: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn {
  display: none;
  
}


.area{
  display: grid;
  padding-right: 100px;

}

.area1{
  display:inline-block;
  width: 400px;
  gap: 23px;
  
}





.fa {
  padding: 30px;
  font-size: 30px;
  width:100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: rgb(11, 11, 11);
}

.fa-github {
  background: #fffefe;
  color: rgb(0, 0, 0);
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nlst{
  list-style-type: none;
}

li.b{
  list-style-type: lower-alpha;

}

